---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SEO from '../../components/SEO.astro';
---

<BaseLayout>
  <SEO slot="head" title="All Reviews" />
  <a href="/reviews/tv">TV</a>
</BaseLayout>
