.project-card {
  display: flex;
  border: 1px solid var(--border-color-1);
  margin: 1em 0;
  justify-content: flex-start;
}

.project-card .right-col {
  padding: 1em;
  flex-grow: 1;
}

.project-card__left-col {
  margin-right: 1em;
  min-width: 40%;
}

.project-card__left-col img {
  padding: 1em;
  border-radius: 0px;
  border-right: 1px solid var(--border-color-1);
}

.project-card__project-btns > :last-child {
  margin-left: 0.8rem;
}

.project-card p {
  margin: 0;
}

.project-card__project-name {
  font-size: 1.5em;
  font-weight: bold;
}

.project-card__project-type {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: var(--primary-text-color);
  padding: 0 0.5em;
  font-style: italic;
  background-color: var(--highlight-color-1);
  border-radius: 5px;
}

.project_card__project_skills {
  font-size: 0.8em;
  font-weight: lighter;
}

.project_card__project_description {
  font-size: 0.8em;
  font-weight: lighter;
  margin: 1em 0;
}

.project-card__project_duration {
  font-size: 0.8em;
  font-weight: lighter;
}

@media screen and (max-width: 450px) {
  .project-card {
    flex-direction: column;
  }

  .project-card__left-col {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .project-card__left-col img {
    padding: 0px;
    border-right: none;
    border-bottom: 1px solid var(--border-color-1);
  }
}

.project_card__project_skills {
  display: flex;
  flex-flow: row wrap;
}

.project_card__project_skills .project-skill-tag {
  border-radius: 4px;
  margin: 0.2rem;
  background-color: var(--tag-bg-color);
  color: white;
  padding: 0.2rem;
  line-height: 1em;
  font-size: 0.8rem;
}
