.project-card {
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.project-card--name {
  font-size: 1.5em;
  font-weight: bold;
}

.project-card--skills {
  font-size: 0.8em;
  font-weight: lighter;
}