.project-card {
  display: flex;
  border: 1px solid var(--dark-color-2);
  padding: 1em;
  margin: 0.5em;
  justify-content: flex-start;
}

.project-card__left-col {
  margin-right: 1em;
  min-width: 40%;
}

.project-card__left-col img {
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.project-card__project-btns > :last-child {
  margin-left: 0.8rem;
}

.project-card p {
  margin: 0;
}

.project-card__project-name {
  font-size: 1.5em;
  font-weight: bold;
}

.project-card__project-type {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  color: var(--dark-color-1);
  padding: 0 0.5em;
  font-style: italic;
  background-color: #f7ee7f;
  border-radius: 5px;
}

.project_card__project_skills {
  font-size: 0.8em;
  font-weight: lighter;
}

.project_card__project_description {
  font-size: 0.8em;
  font-weight: lighter;
  margin: 1em 0;
  border-top: 2px dashed var(--dark-color-1);
  border-bottom: 2px dashed var(--dark-color-1);
}

.project-card__project_duration {
  font-size: 0.8em;
  font-weight: lighter;
}

@media screen and (max-width: 800px) {
  .project-card {
    flex-direction: column;
  }

  .project-card__left-col {
    margin-right: 0;
    margin-bottom: 1em;
  }
}
