*,
*::after {
  box-sizing: border-box;
}

html {
  --bg-color: #fafafa;
  --bg-color-tag: #454545;

  --border-color-1: #e8e8e8;
  --border-color-2: #454545;

  --highlight-color-1: #f7ee7f;
  --highlight-color-rgb: 247, 238, 127;
  --link-color: #ec5759;

  --primary-text-color: #3a3939;
  --secondary-text-color: #747373;

  --toggle-bg-color: #212121;
  --toggle-btn-color: #fff;

  --code-bg-color: #ebebeb;
}

html[data-theme='dark'] {
  --bg-color: #212121;
  --bg-color-tag: #454545;

  --border-color-1: #323232;
  --border-color-2: #454545;

  --highlight-color-1: #ec5759;
  --highlight-color-rgb: 236, 87, 89;

  --primary-text-color: #c1c1c1;
  --secondary-text-color: #828282;

  --toggle-bg-color: #fff;
  --toggle-btn-color: rgb(22, 21, 21);

  --code-bg-color: #2d2d2d;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 800;
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 15px;
}

body {
  font-family: 'Sanchez', 'Raleway', sans-serif, Helvetica, Arial;
  color: var(--primary-text-color);
  line-height: 31px;
  font-size: 17px;
  background-color: var(--bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

ul,
ol {
  margin-left: 1em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Raleway', sans-serif, 'Helvetica Neue', Helvetica, Arial;
  color: var(--primary-text-color);
}

h1 {
  font-size: 35px;
  line-height: 1.4em;
}

.wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.wrapper:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }

  .head-wrapper {
    max-width: -webkit-calc(900 - (30px));
    max-width: calc(900 - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

.icon > svg path {
  fill: var(--secondary-text-color);
}

.page-content {
  padding: 1.5rem 0;
}

/*************************/
/*** Home Page Heading ***/
/*************************/
.center-block {
  text-align: center;
  padding-bottom: 1.5rem;
}

.center-block > h2 {
  margin: 0;
}

/***********************/
/******** Links ********/
/***********************/
a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-text-color);
  text-decoration: underline;
}

/*********************/
/**** Blockquotes ****/
/*********************/
blockquote {
  color: var(--primary-text-color);
  padding: 1em 2em;
  margin: 1em 0;
  font-style: italic;
  font-family: 'Kalam', cursive;
  text-align: center;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/***************************/
/**** CODE HIGHLIGHTING ****/
/***************************/
@media screen and (max-width: 900px) {
  .gatsby-highlight > pre[class*='language'] {
    font-size: 0.8em;
    margin: 1rem -15px;
  }
}

:not(pre) > code[class='language-text'] {
  background-color: var(--code-bg-color);
  color: inherit;
  display: inline-block;
  line-height: 0.9em;
  padding: 0.25em 0.3em;
  border: 0.1px solid var(--border-color-2);
  border-radius: 2px;
}

/************************/
/*** THEME TRANSITION ***/
/************************/
html.transition,
html.transition *,
html.transition *::after,
html.transition *::before {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}
