.home-header {
  text-align: center;
  margin: 4rem auto;
  max-width: 800px;
  padding: 0 1rem;
}

.home-title {
  font-family: Inter, SF Pro Text, SF Pro Display, Segoe UI, Helvetica Neue, Arial, system-ui, sans-serif;
  font-size: 3rem;
  margin: 0 0 1rem;
  color: var(--primary-text-color);
  letter-spacing: -0.03em;
  font-weight: 800;
}

.home-description {
  font-size: 1em;
  color: var(--secondary-text-color);
  margin: 0 0 2rem;
}

@media (max-width: 768px) {
  .home-header {
    margin: 1rem auto;
  }

  .home-title {
    font-size: 2rem;
    margin: 0 0 0.5rem;
  }

  .home-description {
    font-size: 1rem;
    margin: 0 0 1rem;
  }
}
