---
import BaseLayout from '../layouts/BaseLayout.astro';
import SEO from '../components/SEO.astro';
---

<BaseLayout>
  <SEO slot="head" title="404: Not found" />
  <div class="post-content">
    <h1>404: Not found</h1>
  </div>
</BaseLayout>
