---
import BaseLayout from '../layouts/BaseLayout.astro';
import SEO from '../components/SEO.astro';
import { formatPostDate } from '../utils/helper.js';
import NowContent, { frontmatter } from '../../content/Now/index.md';

const title = frontmatter?.title || 'Now';
const updated = frontmatter?.updated ? formatPostDate(frontmatter.updated).full : null;
---

<BaseLayout>
  <SEO
    slot="head"
    title={frontmatter?.title || 'Now'}
    description={frontmatter?.description}
    keywords={['aditya thebe currently', 'aditya thebe now']}
  />

  <div class="post-content">
    <h1 id="page-title">{title}</h1>

    <iframe
      src="https://listenbrainz.org/user/adityathebe/embed/playing-now/"
      scrolling="no"
      style="width: 100%; max-width: 100%; height: 110px; margin-top: 1rem; border: 0;"
    ></iframe>

    <NowContent />
  </div>

  {updated ? <p>Last Updated: {updated}</p> : null}
</BaseLayout>
