.uses-list {
  list-style: none;
}

.uses-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.uses-list-item a {
  color: var(--primary-text-color);
  text-decoration: none;
  border-bottom: 0.1em solid var(--primary-text-color);
}
