.uses-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.uses-list-item a {
  color: var(--primary-text-color);
  text-decoration: none;
  border-bottom: 0.1em solid var(--primary-text-color);
}

@media screen and (max-width: 450px) {
  .uses-list {
    margin-bottom: 2em;
  }

  .uses-list-item {
    flex-direction: column;
    margin-bottom: 1em;
  }
}
