header {
  font-family: 'JetBrains Mono', sans-serif, 'Helvetica Neue', Helvetica, Arial;
  letter-spacing: -1px;
}

.site-nav {
  float: right;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

@media screen and (max-width: 450px) {
  .site-nav {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color-1);
    border-radius: 5px;
    text-align: right;
    box-shadow: 0 0 1px 1px var(--border-color-1);
  }

  .site-nav label[for='nav-trigger'] {
    display: flex;
    float: right;
    width: 36px;
    height: 36px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .site-nav .menu-icon {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 0;
    align-items: center;
    justify-content: center;
  }

  .site-nav .menu-icon > svg path {
    fill: var(--primary-text-color);
  }

  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }

  .site-nav .trigger .theme-switch-wrapper {
    margin-right: 10px;
  }

  .site-nav input:checked ~ .trigger {
    display: block;
    padding: 44px 0 5px;
  }
}
