---
import './DarkMode/darkModeToggle.css';
---

<span class="theme-switch-wrapper">
  <label class="theme-switch" for="theme-toggle" aria-label="Toggle dark mode">
    <input type="checkbox" id="theme-toggle" />
    <span class="slider round"></span>
  </label>
</span>
