.site-footer {
  border-top: 1px solid var(--dark-color-3);
  padding: 30px 0;
  font-family: 'Raleway';
  line-height: 1.5em;
}

.site-footer a,
.site-footer a:visited {
  color: var(--dark-color-1);
  text-decoration: underline;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list a:hover .username {
  text-decoration: underline;
}

.social-media-list .icon {
  padding-right: 5px;
}

.social-media-list li + li {
  padding-top: 5px;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--dark-color-2);
  margin-left: -15px;
}

.footer-col-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}

.footer-baseline {
  text-align: center;
  font-size: 0.8rem;
  color: var(--dark-color-1);
  margin-bottom: -15px;
}
