.site-footer {
  border-top: 1px solid var(--border-color-1);
  padding: 30px 0;
  line-height: 1.5em;
}

.site-footer a,
.site-footer a:visited {
  color: var(--primary-text-color);
  text-decoration: underline;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list a:hover .username {
  text-decoration: underline;
}

.social-media-list .icon {
  padding-right: 5px;
}

.social-media-list li + li {
  padding-top: 5px;
}

.footer-col-wrapper {
  font-size: 15px;
  color: var(--secondary-text-color);
  margin-left: -15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-baseline {
  text-align: center;
  font-size: 0.8rem;
  color: var(--primary-text-color);
  margin-bottom: -15px;
}
