@layer components {
  .section-notes {
    background: var(--section-note-bg);
    color: var(--section-note-color);
    padding: 1.3rem;
    margin: 2rem 0;
    margin-left: 10em;
    border-radius: 8px;
    padding-left: 8rem;
    min-height: 7rem;
    box-shadow:
      0 1px 1px rgba(255, 255, 255, 0.1),
      inset 0 1px 4px rgba(0, 0, 0, 0.3);
    position: relative;

    :not(pre) > code[class='language-text'] {
      background-color: var(--tag-bg-color);
      color: var(--primary-text-color);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--section-note-color);
    }
  }

  .section-notes a {
    color: inherit;
    font-weight: inherit;
  }

  .section-notes a:hover {
    text-decoration: none;
    color: inherit;
  }

  .section-notes a:visited {
    color: inherit;
  }

  .section-notes::before {
    content: '';
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 4rem;
    height: 4rem;
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 7H15' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 11H11' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 3H5C3.89543 3 3 3.89543 3 5V15C3 16.1046 3.89543 17 5 17H8L11.6464 20.6464C11.8417 20.8417 12.1583 20.8417 12.3536 20.6464L16 17H19C20.1046 17 21 16.1046 21 15V5C21 3.89543 20.1046 3 19 3Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 7H15' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 11H11' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 3H5C3.89543 3 3 3.89543 3 5V15C3 16.1046 3.89543 17 5 17H8L11.6464 20.6464C11.8417 20.8417 12.1583 20.8417 12.3536 20.6464L16 17H19C20.1046 17 21 16.1046 21 15V5C21 3.89543 20.1046 3 19 3Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: var(--section-note-color);
  }

  @media screen and (max-width: 450px) {
    .section-notes {
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      border-radius: 0;
      padding-left: 1.3rem;
      padding-top: 7rem;
    }

    .section-notes::before {
      left: 1.3rem;
      transform: none;
      top: 1.5rem;
    }
  }
}
